.idea/
bmstu/
RK2/.idea/
RK2/db.sqlite3
RK2/venv
RK2/RK2/__pycache__/
RK2/master/__pycache__/
RK2/master/migrations/__pycache__/
Lab4/.idea/
Lab4/db.sqlite3
Lab4/Lab4/__pycache__/
Lab4/city/__pycache__/
Lab4/city/migrations/__pycache__
Lab4/1.png
Lab4/2.png
Lab4/3.png
Lab4/__pycache__/
Lab5/Lab5/__pycache__/
Lab5/city/__pycache__/
Lab5/city/migrations/__pycache__
Lab6/Lab6/__pycache__/
Lab6/city/__pycache__/
Lab6/city/migrations/__pycache__